@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist;

<h4>Add a new task</h4>
@using (Html.BeginForm())
{
  <label for=name>Name: </label>
  @Html.TextBoxFor(model => model.Name)
  <br>
  <input type="submit" value="Add new Stylist" class="btn btn-primary"/>
}
<p>@Html.ActionLink("Show all Stylists", "Index")</p>