@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Edit  
  @Html.DisplayFor(model => model.Name):</h4>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)
  <label for="Name">New name:</label>
  <input type="text" id="Name" name="Name" placeholder="New name goes here."required>
  <br>
  <input type="submit" value="Save" class="btn btn-primary"/>
}
<br>
<p>@Html.ActionLink("Back to list", "Index")</p>