@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h1>Stylists</h1>

  @foreach(Stylist Stylist in Model)
  {
    <li>@Html.ActionLink($"{Stylist.Name}", "details", new { id = Stylist.StylistId })</li>
  }

<p>@Html.ActionLink("+", "create")</p>