@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new Client</h4>

@using (Html.BeginForm())
{
  <label for=Name>Name: </label>

  @Html.TextBoxFor(model => model.Name)
  <br>
  <label for=Stylist>Stylist: </label>
  @Html.DropDownList("StylistId")
  <br>
  <input type="submit" value="Add new Client" class="btn btn-primary" />
}
<p>@Html.ActionLink("Show all Clients", "Index")</p>